<link rel="stylesheet" href="/css/selector_css.css">
<a href="/menu">
	<button type="button" class="btn btn-secondary btn-rounded" id="menuBtn">Back to the menu!</button>
</a>
<div class="container cards">
{{!-- handlebars all the rogue characters --}} 
{{#each characters}}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">{{this.character_name1}} {{this.character_name2}}</h4>
		<h6 class="card-subtitle mb-2 text-muted">A Level {{this.level}} {{this.character_class}}</h6>
		<img src="{{this.character_img}}" alt="" class = "cardImg">
		<p>HP: {{this.hp}}</p>
		<p>STR: {{this.str}}</p>
		<p>AGI: {{this.agi}}</p>
		<p>INT: {{this.int}}</p>
		<p>LOOT: {{this.loot}}</p>
		<button id="{{this.id}}"> Select This Character!</button>
	</div>
	</div>

	{{/each}}
	</div>